{% extends "profile/base.html" %}
{% load static %}
{% load products_tags %}
{% block content %}
    {% cart_list pk=request.user.profile.pk as cart %}
    {% cart_total_price pk=request.user.profile.pk as total_price %}
    {% for product in cart %}
        <div class="Middle Middle_top">
            <div class="Section">
                <div class="wrap">
                    <form class="form" action="{% url 'cart:update_product' id=product.pk %}" method="post">
                    {% csrf_token %}
                        <div class="Cart-product">

                            <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="{% url 'products:product' pk=product.product.pk %}"><img class="Cart-img" src="{{ product.product.product_picture.url }} " alt="card.jpg" /></a>
                            </div>
                            <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{% url 'products:product' pk=product.product.pk %}">{{ product.product.title }}</a>
                                <div class="Cart-desc">{{ product.product.description }}
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-price">{{ product.product.price }}
                                </div>
                            </div>
                        </div>

                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_seller">
                                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->

                            </div>
                            <div class="Cart-block Cart-block_amount">
                                <div class="Cart-amount">
                                    <div class="Amount">
                                        <button class="Amount-remove" type="submit">
                                        </button>
                                        <input class="Amount-input" name="amount" min="1" type="text" value="{{ product.quantity }}" />
                                        <button class="Amount-add" type="submit">
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_delete"><button type="submit" class="btn btn_primary btn_lg">Обновить</button></div>
                           <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="{% url 'cart:delete_product' id=product.pk %}"><img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg" /></a>
                           </div>
                        </div>
                        </div>
                    </form>
    {% endfor %}
                        {% if cart %}
                            <div class="Cart-total">
                                <div class="Cart-block Cart-block_total">
                                    <strong class="Cart-title">Итого:
                                    </strong><span class="Cart-price">{{ total_price }}</span>
                                </div>

                            <div class="Cart-block"><a class="btn btn_success btn_lg" href="{% url 'orders:order_step_1' %}">Оформить заказ</a>
                            </div>
                        {% else %}
                            <div class="Cart-total">
                                <div class="Cart-block Cart-block_total">
                                    <strong class="Cart-title">Корзина пуста</strong>
                                </div>
                            </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
