{% extends 'profile/password_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block main %}
<div class="reset">
    <p>
        Мы отправили вам по электронной почте инструкции по установке вашего пароля, если существует учетная запись
        с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.
    </p>
    <p>
        Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, с которым зарегистрировались,
        и проверьте папку со спамом.
    </p>
</div>
{% endblock %}